* {
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  padding: 15%;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: linear-gradient(to right, #0a0808, #360101, #1b0909);
}

.Form {
  background-color: rgb(54, 36, 36);
  border-radius: 40px;
  padding: 20px;
  height: fit-content;
  justify-content: center;

}

.Components {
  background-color: rgb(54, 36, 36);
  border-radius: 40px;
  padding: 20px;
  height: fit-content;
  justify-content: center;
}

.Events {
  background-color: rgb(54, 36, 36);
  border-radius: 40px;
  padding: 20px;
  height: fit-content;
  justify-content: center;

}

.Layout {
  background-color: #03090e;
  padding: 20px;
  height: fit-content;
  width: 100%;
  justify-content: center;
  display: flex;
  justify-content: space-evenly;

}

.Memo {
  background-color: rgb(54, 36, 36);
  border-radius: 40px;
  padding: 20px;
  height: fit-content;
  justify-content: center;

}

.Registration {
  background-color: rgb(54, 36, 36);
  border-radius: 40px;
  padding: 20px;
  height: fit-content;
  justify-content: center;

}

.Routing {
  display: flex;
  justify-content: space-evenly;
  background-color: #03090e;
}

button {

  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 16px;
  padding: 6px;
  border-radius: 10px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  background-color: darkslategrey;
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  display: inline-block;
}

button:hover {
  background: #03090e;
}

button:active {
  background: #144E75;
}


form {
  background-color: beige;
  color: #1b0909;
  border-radius: 20px;
  margin-top: 20px;
  width: fit-content;
  padding: 20px;
  margin-left: 25%;
}

input {
  margin: 10px;
  width: max-content;
  border-left: none;
  border-right: none;
  border-top: none;
  background-color:inherit;
  border-bottom: solid #1b0909;
}
.Backhome{
  background-image: none;
  border-radius: 12px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content:flex-start;

}
.Back{
  height: 3rem;
  width: 3rem;
}
.profile{
  background-color: beige;
  color:#03090e;
  width: fit-content;
  margin-left: 450px;
  padding: 15px;
  border-radius: 15px;

}
div:hover {
  transform: scale(1.02);
}
